@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
   *{
    
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;
    margin: auto;
   }
   
   
    

.parent{
    
    width: 100%;
    height: 100vh;
   
    }

.asidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #1F3300;
}

.sidebar-pos{
    position: absolute;
    top: 50%;
    margin: -70px 0px;
    bottom: 50px;
    left: -20px;
    transform: translateY(-50%);
    
}

.img-sidebar{
    text-align: center;
}

.img-sidebar img {
    width: 60%;
    border: 5px solid #1F3300;
    border-radius: 50%;
}

.menu{
    margin: 10px 70px;
    text-align: center;
    position: relative;
    
    
   
    }

.menu a{    
    background-color: #154A04;
    color: white;
    opacity: 0.6;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    border-radius: 10px 10px;
    margin-bottom: 25px;
    text-decoration: none;
    width: 130px;
    height: 50px;
    
    
    
}

.menu a:hover{
    color: white;
    border: 0.3px solid #401604; 
    background-color: #401604;
    border-radius: 10px 10px;
    transform: translate(35px,0px);
    transition-duration: 0.3s ;
    font-style: italic;
    
}

.menu a.selected{

    color: white;
    font-style: normal;
    font-style: italic;
    }

.menu a.selected:hover{
        transform: translate(20px,0px);
        transition-duration: 0.5s;
    }
    
.content{
        background-color: #1F3300;
        position: absolute;
        left: 20%;
        width: 80%;
        height: 100%;
        overflow: auto;
        padding: 0 3%;
    }

section.descricao{
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 7%;
        
    }
section.descricao h2{
        color: rgb(177, 165, 165);
        font-size: 8.2em;
        font-family: 'Great Vibes', cursive,Arial, Helvetica, sans-serif;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.589);
    }
section.descricao h2 > spam,
section.descricao h3 > spam{
        color: rgb(199, 189, 189);
        font-family: 'Great Vibes', cursive,Arial, Helvetica, sans-serif;
    }

section.descricao h3{
        margin: 15px 0;
        color:#320606;
        font-size: 30px;
        font-style: italic;
    }

section.descricao h3 > a{
        color: #400440;
        display: inline-block;
        
        
    }

section.descricao h3 > a:hover{
    
        color: #400440;
        transform: translate(-1px,-5px);
        transition-duration: 1s;
        }

section.descricao p {

        color: black;
        font-size: 22px;
        margin-top: 40px;
    }

.icons-social{

        margin-top: 20px;
    }

.icons-social a{
    text-decoration: none;
    width: 40px;
    height:40px ;
    border-radius: 20px;
    display: inline-block;
    margin: 10px ;
    text-align: center;
}

.icons-social a:hover{
     transform: translate(-4px,-6px);
     transition-duration: 0.5s;
        }
