@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;



   } 

.parent{
    
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(imagem/pexels-mudassir-ali-2680270.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 7%;
    position: relative;
    }

.asidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #1a1797c0;
}

.sidebar-pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.img-sidebar{
    text-align: center;
}

.img-sidebar img {
    width: 70%;
    border: 5px solid #09083f86;
    border-radius: 50%;
}

.menu{
    margin: 10px 70px;
    text-align: center;
    position: relative;
    }

.menu a{    
    color: white;
    opacity: 0.6;
    font-size: 25px;
    display: block;
    border-radius: 10px 10px;
    margin-bottom: 5px;
    text-decoration: none;
    width: 130px;
}

.menu a:hover{
    color: #b0c4c1;
    border: 0.2px solid rgb(53, 51, 82);
    background-color: #71a8a480;
    border-radius: 10px 10px;
    transform: translate(35px,0px);
    transition-duration: 0.3s ;
    font-style: italic;
}

.menu a.selected{

    color: white;
    opacity: 1;
    font-style: normal;
    }

.menu a.selected:hover{
        transform: translate(20px,0px);
        transition-duration: 0.5s;
    }
    
.content{
        position: absolute;
        left: 20%;
        width: 80%;
        height: 100%;
        overflow: auto;
        padding: 0 3%;
    }

section.descricao{
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 7%;
        
    }
section.descricao h2{
        color: #031104;
        font-size: 80px;
        font-family: 'Great Vibes', cursive,Arial, Helvetica, sans-serif;
    }
section.descricao h2 > spam,
section.descricao h3 > spam{
        color: #020e03;
        font-family: 'Great Vibes', cursive,Arial, Helvetica, sans-serif;
    }

section.descricao h3{
        margin: 15px 0;
        color:#ccbb6e;
        font-size: 30px;
        font-style: italic;
    }

section.descricao h3 > a{
        color: #acdd5e;
        display: inline-block;
        
    }

section.descricao h3 > a:hover{
    
        color: rgb(216, 202, 177);
        transform: translate(-1px,-5px);
        transition-duration: 1s;
        }

section.descricao p {

        color: rgb(211, 180, 124);
        font-size: 22px;
        margin-top: 40px;
    }

.icons-social{

        margin-top: 20px;
    }

.icons-social a{
    text-decoration: none;
    color: rgb(44, 102, 136);
    width: 40px;
    height:40px ;
    border-radius: 20px;
    display: inline-block;
    margin: 20px ;
    text-align: center;
}

.icons-social a:hover{
     transform: translate(-4px,-6px);
     transition-duration: 0.5s;
        }
