
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace , Arial, Helvetica, sans-serif;
    
}

html,body{

    width: 100%;
    height: 100vh;
    background-color: #1F3300;
  
}
h1,h2{
    text-align: center;
    color: black;
    margin-top: 10px;
}
.text{

font-size: 20px;
color: black;
margin-top: 100px;
text-align: left;
margin-inline: 6px;
}

.gith img{
width: 50px;
height: 50px;
margin: -20px 700px;


}
.gith p{
margin: -20px 230px;
color: black;
}
.gith a{

display: inline-block;

}
.gith a:hover{
    transform: translate(-6px,-6px);
    transition-duration: 1s;
}


.volt a {
    color: black;
    display: inline-block;
    padding-top: 30px;
    margin: -20px 100px;
}
.volt a:hover{
    transform: translate(-3px,-3px);
    transition-duration: 0.3s;

}