
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace , Arial, Helvetica, sans-serif;
    
}
body{
    position: relative;
}
html,body{

   
    background-color: #1F3300;
  
}
h1,h2{
    text-align: center;
    color: rgb(111, 141, 62);
    margin-top: 10px;
    margin-bottom: -40px;
    font-style: italic;
    font-size: 20px;
   
}

section{
    
    width: 100%;
    padding-top: 60px;
 

}
.text{
font-size: 15px;
color: rgb(111, 141, 62);
background-color: #263b05;
padding: 30px 10px;






}
.text h2{
padding-bottom: 50px;
margin-top: -10px;


}
.text h2 p{
    
text-align: center;
position: absolute;
width: 100%;
font-size: 15px;




}
.gith{
    width: 100%;
    text-align: center;
}


.gith img{
width: 50px;
height: 50px;
margin: 0px 130px;






}
.gith p{
   
   
    margin: 20px 50px;
    color: black;



}
.gith a{

display: inline-block;



}
.gith a:hover{
    transform: translate(-6px,-6px);
    transition-duration: 1s;
}
.volt{
    width: 100%;
    text-align: left;
    padding-top: 20px;
    position: absolute;
    padding-bottom: 5px;
    
}

.volt a {
    color: black;
    display: inline-block;
    margin: -20px 30px;
    opacity: 0.6;
    
}
.volt input{
    font-size: 20px;
}
.volt a:hover{
    transform: translate(-3px,-3px);
    transition-duration: 0.3s;

}