
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace , Arial, Helvetica, sans-serif;
    
}

html,body{

   
    background-color: #1F3300;
  
}
h1,h2{
    text-align: center;
    color: black;
    margin-top: 30px;
   
}
section{
    
    width: 100%;
 

}
.text{

font-size: 15px;
color: black;







}
.text h2 p{

width: 100%;



}
.gith{
    width: 1000px;
}


.gith img{
width: 50px;
height: 50px;
margin: 10px 170px;






}
.gith p{
    padding-top: 60px;
    margin: 80px 40px;
    color: black;



}
.gith a{

display: inline-block;



}
.gith a:hover{
    transform: translate(-6px,-6px);
    transition-duration: 1s;
}
.volt{
    padding-top: 40px;
    
}

.volt a {
    color: black;
    display: inline-block;
    padding-top: 20px;
    margin: -20px 30px;
    
}
.volt a:hover{
    transform: translate(-3px,-3px);
    transition-duration: 0.3s;

}